:root {
  --silver: #C0C0C0;
  --black: #000000;
  --gold: #FFD700;
  --navyBlue: #000040;
  --white: #FFFFFF;
  --scrolledBackground: #FFD700; 
  --navbar-height: 100px;
  --navbar-scrolled-height: 50px;
  --navbar-padding: 20px;
  --navbar-scrolled-padding: 30px;
}

.navbar {
  background-color: var(--white);
  backdrop-filter: blur(10px);
  color: var(--black);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, height 0.3s ease, padding 0.3s ease;
  height: var(--navbar-height);
  padding: var(--navbar-padding) 0;
}

.navbar.scrolled {
  background-color: var(--scrolledBackground);
  height: var(--navbar-scrolled-height);
  padding: var(--navbar-scrolled-padding) 0;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

span {
  color: purple;
}

.logo {
  text-align: left;
  display: flex;
  align-items: center;
  border: solid 2px;
  padding: 10px;
}

.logo img {
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation ul {
  display: flex;
  flex-direction: row;
}

.navigation li {
  margin-left: 20px;
  padding-right: 10px;
  position: relative;
}

.navigation a {
  height: 100%;
  padding: var(--navbar-padding);
  color: var(--black);
  display: flex;
  align-items: center;
}

.navigation a:hover {
  background-color: #000040;
  color: white;
  height: 100%;
  width: 100%;
}

/* Sidebar Styles */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  z-index: 9999;
  background-color: var(--silver);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  transition: right 0.3s ease;
}

.sidebar.visible {
  display: flex;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.sidebar-logo {
  display: flex;
  align-items: center;
}

.sidebar-logo img {
  height: 40px;
  margin-right: 10px;
}

.sidebar-logo img,
.sidebar-logo span {
  pointer-events: none;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  color: var(--black);
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.sidebar-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  display: none;
}

.MobileMenu {
  display: none;
}

@media screen and (max-width: 945px) {
  .logo {
    display: none;
  }

  .navigation ul {
    display: none;
  }

  .sidebar-toggle {
    display: block;
  }

  .sidebar-open {
    overflow: hidden;
  }

  .MobileMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title {
    font-size: 1rem;
    border: solid 2px;
    padding: 10px;
  }
}
