/* Importing a modern font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

#about {
  background-color: rgba(0, 0, 255, 0.5);
  min-height: 100vh;
  text-align: center;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  max-width: 900px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
}

.history-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  text-align: left;
}

.history-text {
  flex: 1;
  padding-right: 30px;
}

.founder-image {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.founder-section {
  text-align: left;
}

.founder-section ul {
  padding-left: 20px;
  text-align: left;
}

.founder-section li {
  margin: 10px 0;
  font-size: 1.1em;
}

.facility-section {
  text-align: left;
  margin-top: 40px;
}

.facility-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-bottom: 20px;
}

.facility-section ul {
  padding-left: 20px;
  text-align: left;
}

.facility-section li {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.gym-facilities {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gym-facilities p {
  margin-left: 20px;
}

.facility-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.facility-button button {
  color: white;
  background-color: #007bff;
  padding: 20px;
  border-radius: 25%;
  cursor: pointer;
  font-weight: 600;
  font-size: larger;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.facility-button button:hover {
  background-color: #ffd700;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 20px;
  }

  .history-content {
    flex-direction: column;
    text-align: center;
  }

  .founder-image {
    width: 200px;
    height: 200px;
    margin: 20px auto;
  }

  .history-text {
    padding-right: 0;
  }

  .gym-facilities {
    flex-direction: column;
    align-items: center;
  }

  .facility-button {
    flex-direction: column;
  }

  .facility-button button {
    margin-left: 0;
    margin-top: 10px;
  }
}
